# Created by https://www.toptal.com/developers/gitignore/api/swiftpm,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm,xcode

### SwiftPM ###
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj


### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/swiftpm,xcode
